* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(brown 50%, pink 50%);
}

.app {
    font-family: "poppins", sans-serif;
    width: min(95vw, 500px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1.9em;
}

.container {
    padding: 2em;
    background-color: blanchedalmond;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    border-radius: 0.9em;
}

#wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}

#wrapper input {
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3;
    padding: 1em 0.5em;
}

#wrapper input:focus {
    outline: none;
    border-color: brown;
}

#wrapper button {
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    font-size: 1em;
    background-color: palevioletred;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

#error {
    text-align: center;
    background-color: #ffffff;
    color: red;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.8em;
    display: none;
}